In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("data_class.csv")
df.head()

   Unnamed: 0                        0  1
0           0  0_1000_without_mask.png  0
1           1  0_1001_without_mask.png  0
2           2     0_1002_with_mask.png  1
3           3     0_1004_with_mask.png  1
4           4  0_1006_without_mask.png  0

In [4]:
train = pd.read_csv('train.csv')

In [7]:
train.columns

Index(['0', '1'], dtype='object')

In [6]:
train = train.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [ ]:
test =

In [13]:
df.loc[7190:,'1'] = 2

7190    2
7191    2
7192    2
7193    2
7194    2
       ..
7947    2
7948    2
7949    2
7950    2
7951    2
Name: 1, Length: 762, dtype: int64

In [17]:
X = df.drop(columns='1')
y = df['1']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, stratify=y, random_state=42)

In [28]:
len(y_train[y_train == 2])/len(df.loc[df['1'] == 2])

0.7992125984251969

In [37]:
df.columns

Index(['Unnamed: 0', '0', '1'], dtype='object')

In [40]:
train_set = pd.concat([X_train, y_train], ignore_index=True, axis = 1)

In [45]:
names = ['Unnamed: 0', '0', '1']
train_set.columns = names
train_set

      Unnamed: 0                                    0  1
5414        5414               2_668_without_mask.png  0
7348        7348   object_cover0_168_without_mask.png  2
3942        3942                   2168_with_mask.png  1
6315        6315                 600_without_mask.png  0
1128        1128               0_675_without_mask.png  0
...          ...                                  ... ..
6525        6525                 696_without_mask.png  0
5345        5345               2_566_without_mask.png  0
5164        5164                  2_327_with_mask.png  1
6282        6282                 586_without_mask.png  0
7677        7677  object_cover_104_1_without_mask.png  2

[6361 rows x 3 columns]

In [46]:
train_set.to_csv("train.csv")

In [48]:
test_set = pd.concat([X_test, y_test], ignore_index=True, axis = 1)

In [53]:
test_set.columns = names
test_set

      Unnamed: 0                        0  1
6909        6909     873_without_mask.png  0
5865        5865        395_with_mask.png  1
521          521     0_1725_with_mask.png  1
6797        6797         81_with_mask.png  1
5960        5960         43_with_mask.png  1
...          ...                      ... ..
6464        6464        668_with_mask.png  1
6704        6704     778_without_mask.png  0
577          577  0_1806_without_mask.png  0
4241        4241        296_with_mask.png  1
4981        4981     2_2021_with_mask.png  1

[1591 rows x 3 columns]

In [55]:
len(test_set.loc[test_set['1'] == 2])

153

In [56]:
test_set.to_csv("test.csv")